<div class="nav-offset container">

  <% if @current_picture %>
    <%= render partial: 'pictures/quick_pic', locals: {picture: @current_picture} %>

    <% @memes.each do |meme| %>
      <p><%= meme.caption %></p>
    <% end %>

    <% if current_user %>
      <%= render partial: 'memes/meme', locals: {picture: @current_picture} %>
    <% end %>
    <% else %>
      <%= render partial: 'pictures/picture_form', locals: {picture: @picture, chatroom: @chatroom}%>
    <% end %>
</div>








<div class="nav-offset row col-md-8 col-md-offset-2">
  <h1><%= @chatroom.topic %></h1>

  <div class="panel panel-default">
    <% if @chatroom.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: @chatroom.messages %>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>

  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>