<br><br><br>
<div class="row hidden" id="votes-left-to-submit">
  <%= @chatroom_picture.memes.length - @vote_count %>
</div>

<div class="row col-xs-12 text-center">
  <h3>GAME CODE: <strong id="chatroom-slug"><%= @chatroom.slug %></strong></h3>
</div>

<div class="text-center">
  <%= image_tag @chatroom_picture.picture.url %>
</div>


<div class="row col-xs-8 col-xs-offset-2 text-center" id="vote-for-captions">

    <% if @chatroom_player.votes.count < @chatroom.chatroom_pictures.count %>
  <h4>Vote For The Best Meme</h4>
  <div class="panel panel-default">

        <div class="panel-body" id="memes">
          <% @memes.each do |meme| %> 
          <%= render partial: "memes/meme", locals: {meme: meme} %>
        <% end %>
        </div>
        
    <%else%>
      <div class="panel-body hidden" id="memes">
      </div>
    <%end%>
  </div>
</div>

<div class="row col-xs-8 col-xs-offset-2">
  <h1><%= @chatroom.topic %></h1>
  <div class="panel panel-default">
    <% if @chatroom.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render @chatroom.messages %>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>
  <% if current_user %>
    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom, chatroom_player: @chatroom_player}%>
  <% end %>
</div>