
<div class="row col-xs-12 text-center waiting-and-game-code-container">
  <h4>Waiting</h4>
  <h3>GAME CODE: <strong id="chatroom-slug"><%= @chatroom.slug %></strong></h3>
</div>

<div class='hidden' id='arnold-count'><%= @arnolds.length %></div>
<div class="row col-xs-8 col-xs-offset-2 ready-and-unready-column-container">
  <div class="panel panel-default col-xs-6">
  <h4>Players</h4>
  <div class="panel-body">
    <% if @players.any? %>
    <section class="" id="joined-players">
      <% @players.each do |player| %>
        <p id="player-<%= player.user.username %>"><%= render partial: 'players/show', locals: {player: player} %></p>
      <% end %>
    </section>
    </div>
  </div>
    <%else%>
        <div class="panel-body hidden" id="joined-players">
        </div>
    <%end%>
  <div class="panel panel-default col-xs-6">
    <h4>Ready</h4>
    <div class="panel-body" id="ready-players">
      <% if @ready_players.any? %>
        <% @ready_players.each do |ready_player| %>
          <p id="<%= ready_player.user.username %>"><%= render partial: 'players/show', locals: {player: ready_player} %></p>
        <% end %>
      <%else%>
        <div class="panel-body hidden" id="ready-players">
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="row col-xs-8 col-xs-offset-2">
  <section>
    <% if @chatroom_player.status == "ready" %>
      <div id="ready-button" class="hidden">
        <%= render partial: 'chatrooms/ready' %>
      </div>
        <br>
      <div id="unready-button" >
        <%= render partial: 'chatrooms/unready' %>
      </div>
        <br>
    <% else %>
      <div id="ready-button">
        <%= render partial: 'chatrooms/ready' %>
      </div>
        <br>
      <div id="unready-button" class="hidden">
        <%= render partial: 'chatrooms/unready' %>
      </div>
        <br>
    <% end %>
  </section>
  <section>
    <%= render partial: 'chatrooms/leave', locals: {chatroom_player: @chatroom_player}%>
  </section>
  <section>
    <% if @chatroom_player.creator == true %>
      <div class="hidden" id="add-arnold-button" >
        <%= render partial: 'chatrooms/add_arnold', locals: {chatroom: @chatroom, arnold_count: @arnolds.count} %>
      </div>
      <div class="hidden" id="remove-arnold-button" >
        <%= render partial: 'chatrooms/remove_arnold', locals: {chatroom: @chatroom, arnold_count: @arnolds.count} %>
      </div>
     <% end %>
  </section>
</div>

<div class="row col-xs-8 col-xs-offset-2">
  <h1><%= @chatroom.topic %></h1>
  <div class="panel panel-default">
    <% if @chatroom.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render @chatroom.messages %>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>
  <% if current_user %>
    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom, chatroom_player: @chatroom_player}%>
  <% end %>
</div>

<div>
  
</div>